<script>
document.addEventListener('DOMContentLoaded', function() {
    // Sliders
    document.getElementById('col').onchange = function() {
        sliderOrRadioChanged();
    };
    
    document.getElementById('lines').onchange = function() {
        sliderOrRadioChanged();
    };

    // Radio buttons
    document.querySelectorAll('input[type=radio][name=algo]').forEach(function(radio) {
        radio.onchange = function() {
            sliderOrRadioChanged();
        };
    });
});
// function that update when changing slider or radio
function sliderOrRadioChanged() {
    var colValue = document.getElementById('col').value;
    var linesValue = document.getElementById('lines').value;

    var selectedAlgo;
    document.querySelectorAll('input[type=radio][name=algo]').forEach(function(radio) {
        if (radio.checked) {
            selectedAlgo = radio.value;
        }
    });

    console.log("Cols:", colValue, "Lines:", linesValue, "Selected Algo:", selectedAlgo);

    // Update hidden form fields (for save in SQL)
    document.getElementById('hiddenColValue').value = colValue;
    document.getElementById('hiddenLinesValue').value = linesValue;
    document.getElementById('hiddenAlgo').value = selectedAlgo;

    // Update form fields
    var formData = new FormData();
    formData.append('colValue', colValue);
    formData.append('linesValue', linesValue);
    formData.append('algo', selectedAlgo);

    // POST request in AJAX
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/maze', true);
    xhr.onreadystatechange = function() {
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            var newMazeImageBase64 = this.responseText;
            document.getElementById('mazeImage').src = 'data:image/png;base64,' + newMazeImageBase64;

            // Update hidden form field for the maze image data
            document.getElementById('hiddenMazeData').value = newMazeImageBase64;
        }
    };
    xhr.send(formData);
}
</script>

{% extends "layout.html" %}

{% block title %}
    Maze Creation
{% endblock %}

{% block main %}

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-9 text-center">
            <form method="POST" action="/save_maze">
                <h1>Generated Maze:</h1>
                <img id="mazeImage" class="img-fluid" src="data:image/png;base64,{{ img_data }}" alt="Generated Maze"><br />
                <input type="hidden" id="hiddenMazeData" name="maze_data" value="{{ img_data }}">
                <input type="hidden" id="hiddenColValue" name="col_value" value="20">
                <input type="hidden" id="hiddenLinesValue" name="lines_value" value="20">
                <input type="hidden" id="hiddenAlgo" name="algo" value="ab">
                <button class="btn btn-primary" id="save_maze" name="save_maze" type="submit">Save Maze</button>
            </form>
        </div>
        <div class="col-md-3 text-start lh-lg sticky-top">
            <label for="col">Columns:</label><br />
            <input type="range" class="form-range" id="col" name="colValue" min="5" max="50" value="20"><br />
            <label for="lines">Lines:</label><br />
            <input type="range" class="form-range" id="lines" name="linesValue" min="5" max="50" value="20"><br />
            <fieldset>
                <legend>Algorithm:</legend><br />
                <input type="radio" id="algo1" name="algo" value="ab" checked>
                <label for="algo1">Aldous Border</label><br>
                <input type="radio" id="algo2" name="algo" value="hk">
                <label for="algo2">Hunt and Kill</label><br>
                <input type="radio" id="algo3" name="algo" value="bt">
                <label for="algo3">Binary Tree</label>
            </fieldset>
        </div>
    </div>  

{% endblock %}

